table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #85baa1;
}

table tr:hover {
  background-color: #67597a;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #6e8894;
  color: white;
}
